.dons{
    margin-top:5px;
}
.unitedimg{
    width: 3%;
    margin-left: 20px;
}
.identify{
    display: flex;
    align-items: center;
    margin-left: 60px;
}
.gg {
    font-family: "Fira Sans", sans-serif;
}
.leadinglink {
    text-decoration: none;
}
.overAll {
    position: sticky;
    top: 0;
    z-index: 100;
}

.logoImg1 {
    width: 150px;
    text-align: center !important;
}

.navItem {
    justify-content: space-between;
    display: flex;
    background-color: var(--c1);
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sharebtn {
    border: none;
    background-color: var(--c2);
    color: var(--c7);
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 40px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }
.fa-search {
    color: var(--c2);
}

.navItem a {
    text-decoration: none;
    color: white;
}

.logoImg {
    width: 150px;
    text-align: center !important;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav-sign {
    font-weight: bold;
    margin-left: 20px;

}

.nav-sign:hover {
    color: var(--c7);
}

.nav-btn {
    background-color: var(--c7);
    color: var(--c2);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}


.first-section {
    margin-top: 20px;
}

.camImg {
    border-radius: 20px;
}

.fa-arrow-right {
    font-size: 15px;
    margin-top: 2px;
}

.amountMatter {
    display: flex;
    align-items: center;
}
.verified {
    width: 15px;
    margin-left: 3px;
    margin-bottom: 7px;
}

.amountRaised {
    padding-right: 7px;
    font-size: 20px;
    font-weight: bold;
}
#donorAmount {
    font-size: 30px;
}

.amountRequiired {
    padding-left: 7px;
}

.donateButt {

    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border: none;
    font-weight: bold !important;
    font-size: 18px !important;
    color: var(--c7) !important;
    background-color: var(--c2) !important;
    z-index: 100 !important;
}

.donateButt:hover {
    border-radius: 7px;
    background-color: rgb(0, 104, 0);
}

.shareButt {

    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border: none;
    font-weight: bold !important;
    font-size: 18px !important;
    color: var(--c7) !important;
    background-color: var(--c2) !important;
    margin-bottom: 10px;
    /* margin-top: 15px; */
}

.shareButt:hover {
    border-radius: 7px;
    background-color: green;
}

.nameProfile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.nameProfile h6 {
    padding-left: 10px;
    margin-top: 8px;
}

.typeItem {
    display: flex;
}

.createdDay {
    padding-right: 10px;
}

.createdType {
    padding-left: 10px;
    cursor: pointer;
}

.contactSecton {
    margin-top: 10px;
    margin-bottom: 40px;
}


.donorsDetails {
    display: flex;
    align-items: center;
}

.donorsDetails h6 {
    padding-left: 10px;
    font-weight: 550;
    color: var(--c6);
}

.DetailsContact {
    margin-left: 50px;
}

.contactDetails {
    display: flex;
    align-items: center;
}
.organ {
    color: #888;
    font-weight: bold;
}

.contactDetails h6 {
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
    color: var(--c6);
}

.contactbtn {
    background-color: var(--c2);
    color: var(--c7);
    border: none;
    margin-bottom: 5px;
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    font-weight: bold;
}

.donorsDetailsComment {
    margin-left: 50px;
}

.donateMain {
    background-color: var(--c8);
    padding: 30px;
    margin-top: 30px;
}

.donate {
    text-align: center;
}

.donate h3 {
    font-size: 35px;
    font-weight: 600;
}

.donate p {
    font-size: 17px;
}

.navDonate {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--c2);
    background-color: var(--c7);
    margin-top: 5px;
    border: none;
    margin-right: 5px;
    border-radius: 2px;
}

.nav-btn1 {
    background-color: var(--c7);
    color: var(--c2);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 2px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 5px;
    border: none;
}

.howStart1 {
    background-color: var(--c2);
    color: var(--c7);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 2px;
    font-weight: bold;
    border: none;
}
.modal-foote {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }
  .modal-foote > * {
    margin: 0.25rem;
  }
  .social-share {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .copied {
    color: green;
    display: none;
  }
  .media {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px;
    cursor: pointer;
  }
  .media:hover {
    border: 1px solid green;
    border-radius: 45%;
  }

@media screen and (max-width: 767px) {
    .amountRaised {
        font-size: 15px;
    }

    .logoImg {
        width: 65px;
    }

    .logoImg1 {
        width: 65px;
    }

    .amountMatter {
        margin-top: 10px;
    }
}

@media screen and (min-width: 767px) {
    .amountMatter {
        margin-top: 60px;
    }
}


.donate-amount {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.continueBtn {
    margin-top: 5px;
    border: none;
    background-color: var(--c2);
    color: var(--c7);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}


.allForm {
    padding-top: 1%;
    padding-left: 5px;
    padding-right: 5px;
}

.form {
    background-color: var(--c3);
    padding-top: 3px;
    padding-bottom: 30px;
}

.signText h2 {
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--c4);
}

.responseButt {
    border: none;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--c2);
    color: var(--c7);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.backbutt {
    margin-top: 10px;
}








.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
.label-1 {
    padding-top: 20px;
}

.owner {
    text-align: center;
    margin-bottom: 20px;
}
.ownerTitle {
    color: green !important;
}

.close {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal-body {
    padding: 2px 16px;
}

@media screen and (min-width: 767px) {
    #myModal {
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media screen and (max-width: 500px) {
    .modal-content-contact {
        width: 90%;
    }
}
@media screen and (min-width: 500px) {
    .modal-content-contact {
        width: 50%;
    }
}
@media screen and (max-width: 767px) {
    #myModal {
        padding-left: 10px;
        padding-right: 10px;
    }
}





.modal-contact {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 100;
   
}

.modal-content-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 3px;
}

.close-button-contact {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: lightgray;
}

.close-button-contact:hover {
    background-color: darkgray;
}

.show-modal-contact {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.input-items {
    margin-bottom: 10px;
}
.send-message {
    margin-top: 5px;
    border: none;
    background-color: var(--c2);
    color: var(--c7);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.seeMore {
    margin-left: 50px;
    border: none;
    background-color: var(--c2);
    color: var(--c7);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}
.seeMore:hover {
    color: var(--c7);
}
.house {
    box-shadow: 0px 0px 10px #000;
    padding: 5px;
    border-radius: 4px;
}
.house.trans{
    top: 70px;
    width: clamp(200px, 30vw, 300px);
    position: fixed;
}
@media screen and (max-width: 767px) {
    .house.trans{
        width: 95vw;
        bottom: 0px;
        top: unset;
    }
    .house.trans>div:nth-child(1){
        display: none;
    }
    .lastp {
        margin-bottom: 33px;
    }
    .howStart1 {
        display: none;
    }
}
